* { margin: 0; padding: 0; }

body {
	font-size: 13px;
	color: #fff;
	font-family: myriad-pro-1,myriad-pro-2,arial,sans-serif;
	background: #282828;
}

#header {
    font-size: 10px;
    color: #57a700;
    position: relative  ;
    height: 80px;
    background: black;
    vertical-align: middle;
}
#header h1{
    margin-right:20px;
    padding-top: 16px;
    text-align: Right;
    color: #5aae00;
    font-weight: 300;
    font-family: Verdana, sans-serif;
    font-size: 35px  
    
}
#warper {
    position: relative;
    height: 100%;
    
}

#leftBar {
    top: 85px;
    left: 20px;
    position: absolute;
    height: 80%;
    width: 24%;
/*    border:1px solid green;*/
	font-size: 17px;
    background: black;   
}
#container {
    top: 85px;
    right: 20px;
    position: absolute;
    height: 80%;
    width: 70%;
}
#map_canvas { height: 100% }  
#contact {
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 14px;
}
#sharing{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;    
    line-height: 30px; 

}  

/* form 2 */

	.greenForm{
		color:#fff;
		width:100%; /* customize width, this form have fluid layout */
		}
	.greenForm h3{
		margin:0;
	   
		color:#fff;
		font-size:18px;
		border:1px solid #57a700;
		border-bottom:none;
		}		
	.greenForm h3 span{
		display:block;
		padding:10px 20px;
		background:#5abe10 ;
		   	
		}				
	.greenForm fieldset{
		margin:0;
		padding:0;
		border:none;	
		border-top:2px solid #000;
		background:#000;		
		padding-bottom:5px;
		}		
	.greenForm legend{display:none;}	
	.greenForm p{margin:.5em 20px;}	
	.greenForm label{
        display:block; 
        margin-top:4px;
        margin-bottom:4px;
        font-size: 14px;
    }
    .greenForm select{margin: 3px;}
	.greenForm input, .greenForm textarea, .greenForm select{		
		width:98%;
		border:1px solid #111;
		background:#333;
		color:#fff;
		size: 10px;
		}		
	.greenForm textarea{
		height:40px;
        text-align: left;
		}					
	.greenForm p.submit{
		text-align:right;
		}	
	.greenForm button{
		padding:0 20px;
		height:20px;
		line-height:10px;		
		border:1px solid #70ad2e;
		background:#5abe10 ;
		color:#fff;
		cursor:pointer;		
		text-align:center;		
		}	

    .greenForm button:hover{
  
		border:1px solid 5abe10;
		background:#282828 ;
		} 
    .greenForm button:focus{
  
		border:1px solid 5abe10;
		background:#282828 ;
		} 

    textarea,select,input:focus
    { 
        border: 2px solid #57a700;
    }
        
    .ui-autocomplete {
    left:40px;
    top: 40px;
    background-color: #282828;
    color: #828282;
    width: 500px;
    list-style-type: none;
    padding-left: 1px;
    font-size: 9px;
    
    }
    .ui-autocomplete li.ui-menu-item {
      padding: 1px;  // needed to prevent the item sizes from changing on hover
    }

    .ui-autocomplete a.ui-state-hover {
      font-weight: normal !important;  // rather not bold the hover item (changes the width)
    }
    

